body {
    background-image: url(fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-height: calc(100vh - 160px);
  }
  
.titulo {
    text-align: center;
    color: white;
}

.pika {
    width: 10%;
}

.info {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.637);
    width: 15%;
    padding: 2rem;
    margin: 1rem auto auto auto;
}